@model ConcertAPI.DAL.Ticket

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css" />

<p>
    <a asp-action="GetTicketById" asp-route-id="Id" class="btn btn-outline-primary">Buscar boleta</a>
</p>

<div class="form-group">
    <label asp-for="Id" class="control-label"></label>
    <input asp-for="Id" class="form-control" />
    <span asp-validation-for="Id" class="text-danger"></span>
</div>
